<div class="p-grid p-justify-center">
  <div class="p-col center">
    <a routerLink="/purchase-orders/standard">
      <img
        class="img"
        src="../../assets/img/po_image.jpg"
        alt="Standard Form"
      />
      <h2>STANDARD</h2>
    </a>
  </div>

  <div class="p-col center">
    <a routerLink="/purchase-orders/travel">
      <img
        class="img"
        src="../../assets/img/travel_image.jpg"
        alt="Travel Form"
      />
      <h2>TRAVEL</h2>
    </a>
  </div>

  <div class="p-col center">
    <a routerLink="/purchase-orders/training">
      <img class="img" src="../../assets/img/training.png" alt="Training" />
      <h2>TRAINING</h2>
    </a>
  </div>

  <div class="p-col center">
    <a routerLink="/purchase-orders/infrastructure">
      <img
        class="img"
        src="../../assets/img/Contractor_image.jpg"
        alt="Contractor"
      />
      <h2>CONTRACTOR</h2>
    </a>
  </div>

  <div class="p-col center">
    <a routerLink="/purchase-orders/infrastructure">
      <img
        class="img"
        src="../../assets/img/Contractor_image.jpg"
        alt="Infrastructure"
      />
      <h2>INFRASTRUCTURE</h2>
    </a>
  </div>
</div>
