// https://www.libertymutualbrand.com/brand-visuals#colors

$liberty-yellow: #FFD000;
$liberty-yellow-80: #FFDB50;
$liberty-yellow-60: #FFE280;
$liberty-yellow-40: #FFEAA9;

$liberty-blue: #1A1446;
$liberty-blue-90: #29254F;

$liberty-dark-teal: #06748C;
$liberty-medium-teal: #28A3AF;

$liberty-teal: #78E1E1;
$liberty-teal-80: #99E5EA;
$liberty-teal-60: #AAEDED;
$liberty-teal-40: #C9F3F4;
$liberty-teal-10: #F2FCFC;

$liberty-dark-gray: #343741;
$liberty-gray-90: #404040;
$liberty-gray-81: #565656;
$liberty-gray-69: #707070;
$liberty-gray-29: #C0BFC0;
$liberty-gray-10: #E6E6E6;
$liberty-gray-4: #F5F5F5;
